@page
@model TopLearnProject2022.Pages.Admin.CourseGroups.IndexModel

@{

    Layout = "_Layout2";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Toplearn.Core.Convertors;
<p>لیست گروه ها</p>
<a asp-page="CreateGroup" class="btn btn-outline btn-success">افزودن گروه جدید</a><form>
    @*<div class="row">
            <input name="filterusername" type="text" class="form-control col-3" placeholder="نام کاربری" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="col-1"></div>
            <input name="filterEmail" type="text" class="form-control col-3" placeholder="ایمیل" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="col-1"></div>
            <div>
                <button type="submit" class="btn btn-primary">جستجو</button>
                <a asp-page="Index" style="color:aliceblue;" class="btn btn-primary"> ریست کردن جدول</a>

            </div>
        </div>*@
</form>
<div class="card-body">
    <div class="table-responsive" tabindex="1" style="overflow: hidden; outline: none;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">عنوان گروه</th>
                    <th scope="col">زیر گروه ها</th>
                    <th scope="col">دستورات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model.CourseGroups.Where(g => g.ParentId == null))
                {

                    <tr>
                        <td>@group.GroupTitle</td>
                        <td>
                            @if (group.CourseGroups.Any())
                            {

                                <ul>

                                    @foreach (var sub in group.CourseGroups)
                                    {
                                        <li style="margin:10px;">

                                            -  @sub.GroupTitle
                                            <span>
                                                <a href="/Admin/CourseGroups/EditGroup/@sub.GroupId" style="color:aliceblue;" class="btn btn-xs btn-sm btn-warning">ویرایش</a>
                                            </span>

                                        </li>

                                    }
                                </ul>

                            }
                        </td>


                        <td>
                            <a href="/Admin/CourseGroups/CreateGroup/@group.GroupId" style="color:aliceblue;" class="btn btn-warning">زیرگروه</a>
                            <a href="/Admin/CourseGroups/EditGroup/@group.GroupId" style="color:aliceblue;" class="btn btn-warning">ویرایش</a>

                        </td>
                    </tr>

                }

            </tbody>
        </table>

    </div>
</div>
<script src="/assets/vendors/bundle.js"></script>
<!-- end::global scripts -->
<!-- begin::custom scripts -->

<script src="/assets/js/app.js"></script>
<script src="/assets/js/custom.js"></script>
