@model TopLearn.DataLayer.Entities.User.User
<div class="alert alert-success alert-dismissable">
    <h2>@Model.UserName عزیز</h2>

    <p> با تشکر از ثبت نام شما در سایت تاپ لرن، جهت ادامه کار باید حساب کاربری خود را فعال کنید</p>
    <p>
        <a href="https://localhost:44328/Account/ActiveAccount/@Model.AcctiveCode">فعال سازی حساب کاربری</a>
    </p>
</div>
