@* چون یه دونه هست موقع فراخوانی آن را خالی قراخواندیم *@
@model TopLearn.Core.DTOs.Course.ShowCourseListViewModel

<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
    <div class="panel panel-default card-view pa-0">
        <div class="panel-wrapper collapse in">
            <div class="panel-body pa-0">
                <article class="col-item">
                    <div class="photo">
                        @*<div class="options">
                        <a href="add-products.html" class="font-18 txt-grey mr-10 pull-left"><i class="zmdi zmdi-edit"></i></a>
                        <a href="javascript:void(0);" class="font-18 txt-grey pull-left sa-warning"><i class="zmdi zmdi-close"></i></a>
                        </div>*@

                        <a href="javascript:void(0);">
                            <img src="/Course/Image/@Model.ImageName" style="width:120px; height:120px;" class="img-responsive thumbnail" alt="Product Image" />
                        </a>
                    </div>
                    <div class="info">
                        <h6>@Model.Title</h6>
                        <div class="product-rating inline-block">
                            @*<a href="javascript:void(0);" class="font-12 txt-success zmdi zmdi-star mr-0"></a>
                            <a href="javascript:void(0);" class="font-12 txt-success zmdi zmdi-star mr-0"></a>
                            <a href="javascript:void(0);" class="font-12 txt-success zmdi zmdi-star mr-0"></a>
                            <a href="javascript:void(0);" class="font-12 txt-success zmdi zmdi-star mr-0"></a>
                            <a href="javascript:void(0);" class="font-12 txt-success zmdi zmdi-star-outline mr-0"></a>*@
                            <a href="/Course/ShowCourse/@Model.CourseId" class="font-14 txt-danger">جزئیات محصول</a>
                        </div>
                        <span class="head-font block font-14" style="color:green">قیمت: @(Model.Price == 0 ? "رایگان" : Model.Price.ToString("#,0")) هزارتومان </span>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

<!-- /Product Row Four -->
