@model TopLearn.DataLayer.Entities.User.User
<div class="alert alert-success alert-dismissable">
    <h2>@Model.UserName عزیز</h2>

    <p>

        جهت بازیابی حساب کاربری خود روی لینک زیر کلیک کنید
    </p> 
    <p>
        <a href="https://localhost:44328/Account/ResetPassword/@Model.AcctiveCode">بازیابی کلمه عبور</a>
    </p>
</div>
